.sign-up {
  input {
    background: transparent;
    border: 1px solid #ccc;
    border-style: dashed;
    padding: 5px;
  }
  .MuiFormControl-root {
    .MuiFormLabel-root {
      color: white;
    }
    fieldset {
      border-color: white;
    }
    .MuiInputBase-input {
      color: white;
    }
  }
}
